body {
  margin: 0px;
  background: linear-gradient(to bottom, #050001 0%, #3f070f 50%, #080001 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgb(38, 3, 9);
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(0, 0, 0, 0.375);
}

img {
  display: none;
}
